{% extends 'base.html.twig' %}

{% block title %}Hello GalliaController!{% endblock %}

{% block body %}
<section class="baniere" id="baniere">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        DISPONIBLE 24H/24H ET 7J/7J
    </div>

    <div class="log" style=" position: fixed ; top: 5%;
        right: 100%;
        transform: translate(-5%, -100%)";>
        <img src="/image/400dpiLogoCropped-1920w.png" alt="">
    </div>

    <div class="sidebar">
        <nav>
            <ul>
                <li ><a href="/" > <i class="fas fa-house"></i> &nbsp Accueil</a></li>
                <li ><a href="/gallia"><i class="fas fa-lock"></i> &nbsp Gallia Sécurité</a></li>
                <li><a href="/top_home"><i class="fas fa-hand-spock"></i>&nbsp Top Home Services </a></li>
                <li><a href="/top_pros"><i class="fas fa-hotel"></i> &nbsp Top Pros Services </a></li>
                <li><a href="#"><i class="fas fa-calendar"></i>&nbsp Planning </a></li>


            </ul>
        </nav>
    </div>
    <div class="btn-menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>

    </div>

    <div class="bg-image img1"></div>
    <div class="bg-image img2"></div>
    <div class="bg-image img3"></div>
    <div class="bg-image img4"></div>
    <div class="bg-image img5"></div>


    <div class="bg-text" style="color:white ;"><h2 style="  font-size: 30px;    font-family: 'Lobster', cursive;" >GALLIA SECURITE </h2> est une entreprise spécialisée dans le domaine de la sécurité privée qui se
        différencie des autres par son sérieux et sa qualité de travail.
        <div class="baniere_bt">
            <a href="#contact" style="color: #fff;"> <span></span> Savoir plus </a>
        </div></div>






    </section>
    <section class="contact" id="contact">
        <div class="titre-text">

            <h1 style="color:#1560BD ; text-align: center;">QUI SOMME NOUS ?</h1>
        </div>
        <div class="mission-boite">
            <div class="missions">

                <div class="description">

                    <div class="mission-text">
                        <p>
                            Gallia sécurité est une société spécialisée dans la sécurité privée,filiale d'une Holding
                            appelée E2S Groupe.Gallia sécurité propose des prestations complètes aux entreprises,aux collectivités
                            et aux particuliers dans les départements 13,30,31,33,34,69,83,84.
                            Notre société est un fruit d'une expérience et performance professionnelle de plusieurs années, elle
                            a vu le jour en 2017,immatriculée à Montpellier, sous le nuléro d'enregistrement 83335196800015
                            au capital de 5000 Euros,nous disposons d'un agrément pour le gérant et d'une autorisation d'exercer
                            délivrée par le CNAPS.
                            GALLIA SECURITE vous assure en permanence jour et nuit,7jours/7 la sécurité,la surveillance et le gardinennage des biens
                            et des personnes dans vos établissements : les réceptions,parkings,gares,bureaux,résidences,entrepots,chantiers,night-clubs,
                            immeubles et magasins.
                        </p>
                    </div>
                </div>



                <button type="button" class="collapsible"  style="color:#1560BD; margin-top:5% ; font-size: 20px; font-family: 'Lobster', cursive ;"  >GALLIA SÉCURITÉ pionnier de la sécurisation des personnes et des biens</button>
                <div class="content">
                    <p style="margin: top 15px; ;">GALLIA SECURITE assure en permanence jour et nuit, 7 jours/7 la sécurité, la surveillance
                        et le gardiennage des biens et des personnes dans plusieurs types d'établissements à savoir, les chantiers,
                        les réceptions, parkings, gares, bureaux, résidences, entrepôts, campings, immeubles et magasins.

                        Notre société est le fruit d'une expérience et performance professionnelle de plusieurs années .
                        Elle a vue le jour en 2017, immatriculée à Montpellier sous le numéro d'enregistrement 83335196800015.
                        Nous disposons d'un agrément pour le gérant et d'une autorisation d'exercer délivrée par le CNAPS.

                        Avec l'expérience de son dirigeant, et grâce à des méthodes innovantes, GALLIA SÉCURITÉ se distingue fondamentalement par
                        son approche professionnelle. Cette approche a contribué à une meilleure connaissance des rouages de la sécurité et de la sûreté,
                        ainsi que du cadre de vie de nos clients, qu'il s'agisse de professionnels ou de particuliers. </p>
                </div>



                <button type="button" class="collapsible" style="color:#1560BD ;  font-size: 20px;font-family: 'Lobster', cursive ;
padding: 0 20px; ">Agents de sécurité incendie SSIAP 1/2/3</button>
                <div class="content">
                    <p style="text-align:justify";>  Les agents SSIAP (Services de Sécurité Incendie et d'Assistance aux Personnes) leur rôle principal est :
                        la prévention, la protection contre les incendies, intervention et assistance aux personnes.
                        <label "  >

                        Nous mettons à votre disposition des chefs d'équipes SSIAP2 et SSIAP3 dont le rôle consiste à :
                    <li> Encadrer et diriger l'équipe de sécurité incendie. </li>
                    <li>  Prendre la direction du poste de sécurité lors des sinistres.  </li>
                    <li> Appliquer les consignes de sécurité.  </li>
                    <li> Porter assistance aux personnes. </li>
                    <li> Faire l'entretien élémentaire des moyens concourant à la sécurité incendie.</li>
                    <li> Tenir la main courante.</li>

                    </label>
                    </p>
                </div>


                <button type="button" class="collapsible" style="color:#1560BD;  font-size: 20px; font-family: 'Lobster', cursive ;">Travail, fiable et flexible</button>
                <div class="content">
                    <p> Toutes nos prestations sont assurées par des agents formés et qualifiés. Ils disposent tous de leurs cartes professionnelles à jour.
                        Les agents de GALLIA Sécurité sont détenteurs d’un Certificat de Qualification Professionnelle Agent de prévention et de Sécurité
                        (CQP-APS) et d’une carte professionnelle délivrée par le CNAPS conformément au décret n°2009-137 du 9 Février 2009 relatif à la carte
                        professionnelle.

                        Chez GALLIA SECURITE vous êtes un client important parce que chaque client est une référence importante pour une entreprise comme
                        la nôtre.

                        La compétence de nos agents de sécurité, font de GALLIA SECURITE une entreprise de sécurité fiable et performante.
                        Notre objectif est de vous satisfaire avec une relation basée sur la confiance en fournissant le plus haut niveau de qualité,
                        de professionnalisme, de déontologie et d’éthique. L’entreprise n’est pas cotée en bourse, notre unique objectif sera toujours
                        de satisfaire nos clients.
                    </p>
                </div>


    </section>

    <section class="contact" id="contact">
        <img src="/image/Es.png" alt="" class="img_footer">
        <div class="titre-text">

            <h1 style="color:#1560BD ;text-align: center;">N'hésitez pas à nous contacter  </h1>
        </div>


        <div class="pied-d">

            <a href="https://www.google.com/maps/place/429+Rue+de+l'Industrie,+34000+Montpellier/@43.5869279,3.8814392,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6afc19c6f5781:0x4f564a8efd01f31d!8m2!3d43.5869279!4d3.8836279" > <p> 34070 MONTPELLIER
                    429 Rue de l'Industrie <i class="fas fa-location-dot"></i> </a></p>

            <a href=""> <p> 04.69.96.60.88  <i class="fas fa-mobile"></i>  </p></a>
        </div>
        </div>


        <div class="reseaux_sociaux" style="margin-right: 90% ;">

            <a href=""> <i class="fab fa-facebook-f"></i></a>



        </div>
    </section>



    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #5fc429;
            color: white;
            text-align: center;
        }
    </style>

    <div class="footer">

        <p style="text-align:right ;">© 2022
            Tous droits réservés | E2sGroupe </p>

    </div>



    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
    <script>
        document.querySelector('.fa-times').style.display = "none"
        const menuBtn = document.querySelector(".btn-menu")
        const Sidebar = document.querySelector(".sidebar")
        menuBtn.onclick = function(){
            if(Sidebar.style.right == "-250px"){
                Sidebar.style.right ="0"
                document.querySelector('.fa-times').style.display =""
                document.querySelector('.fa-bars').style.display ="none"


            }else{
                Sidebar.style.right ="-250px"
                document.querySelector('.fa-times').style.display ="none"
                document.querySelector('.fa-bars').style.display =""
            }
        }


    </script>

{% endblock %}
