{% extends 'base.html.twig' %}

{% block title %}Hello TopProsController!{% endblock %}

{% block body %}
    <section class="baniere" id="baniere">

        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            DISPONIBLE 24H/24H ET 7J/7J
        </div>
        <div class="log" style=" position: fixed ; top: 5%;
      right: 100%;
      transform: translate(-5%, -100%)";>
            <img src="/image/TOP+PRO+Format+PNG+transparent-27f4ee99-1920w.png" alt="">
        </div>


        <div class="sidebar">
            <nav>
                <ul>
                    <li ><a href="/" > <i class="fas fa-house"></i> &nbsp Accueil</a></li>
                    <li ><a href="/gallia"><i class="fas fa-lock"></i> &nbsp Gallia Sécurité</a></li>
                    <li><a href="/top_home"><i class="fas fa-hand-spock"></i>&nbsp Top Home Services </a></li>
                    <li><a href="/top_pros"><i class="fas fa-hotel"></i> &nbsp Top Pros Services </a></li>
                    <li><a href="#"> <i class="fas fa-calendar"></i> &nbsp Planning </a></li>
                </ul>
            </nav>
        </div>
        <div class="btn-menu">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </div>






        <div class="section-13 box">
            <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive; text-shadow: 1px 1px 2px #5fc429 ;">TOP PRO SERVICES </h1>
        </div>

        <div class="section-14 box">

            <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" >Nettoyage des bureaux</h1>

            <p>
                Le nettoyage de bureau est devenu bien plus que la prestation traditionnelle qui se résumait à passer l'aspirateur, faire les vitres ou vider les poubelles. Parce que la santé et l'hygiène du personnel travaillant dans une entreprise sont régies par des normes strictes, il est de plus en plus courant de faire appel à des entreprises de nettoyage.



                Une entreprise bien entretenu véhicule des valeurs positives. Elle est perçue comme saine, dynamique, sérieuse… Son image de marque en est renforcée.



                Prestations assurées par TOP PROS SERVICES pour le nettoyage des bureaux :

                <label>
                    <li> Vidage des corbeilles et changement des sacs plastique </li>
                    <li>  Nettoyage des tables et bureaux dégagés </li>
                    <li> Nettoyage des cloisons (traces de doigts) </li>
                    <li>  Nettoyage empiètements des tables et chaises </li>
                    <li> Nettoyage des plinthes </li>
                    <li>Nettoyage des poignées de porte et interrupteurs </li>
                    <li>Balayage et lavage des sols carrelés, plastiques ou aspiration des sols textiles </li>   </p>
            </label>
        </div>

        <div class="section-15 box">

            <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">TOP PRO Services</h1>
        </div>

        <div class="section-16 box">

            <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">Nettoyage des copropriété        </h1>

            <p>Un logement collectif, tel qu’une copropriété fonctionne comme une entreprise en matière d’hygiène et d’entretien.
                Le nettoyage d’immeuble regroupe un ensemble de prestations qui englobe plusieurs prestations comme : <label  >
                    <li>L’entretien des sols (aspiration, dépoussiérage, lavage, etc.) </li>
                    <li> Le nettoyage des parties vitrées (vitreries, façades, baies, etc.), des rampes, des ascenseurs. </li>
                    <li>    La sortie des poubelles.</li>
                    <li>    Nettoyage digicode, interphone, etc. </li>
                </label> Nous mettons à votre disposition des formules d’entretien régulier ou ponctuel.


                Notre objectif, c’est de vous garantir un immeuble propre tout en respectant les règles d’hygiène.</p>

        </div>

        <div class="section-17 box">
            <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">TOP PRO SERVICES </h1>
        </div>

        <div class="section-18 box">

            <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" > Nettoyage d'hôtels, camping et résidences touristiques</h1>

            <p>
                Nous assurons également l'entretien des hôtels, campings et résidences hôtelière, avec toutes les contraintes qui sont liées à ce genre d'établissements (mobilisation 7 jours sur 7 et satisfaction de la clientèle).



                La propreté d’une résidence touristique reflète l’image de cette dernière. C’est un point primordial pour chaque établissement touristique d’avoir un établissement sain et propre car c’est la première chose qu’un client de cet établissement regardera en arrivant sur place.



                Pour satisfaire ces exigences, nous proposons une prestation complète qui inclut le nettoyage des parties communes (hall d'accueil, salles de restauration), l'entretien des chambres et des zones administratives, la gestion du linge ainsi que le nettoyage des surfaces vitrées. Chaque établissement étant différent, nous mettons en place des protocoles adaptés basés sur un cahier des charges précis réalisé au préalable.

            </p>

        </div>
        <section class="contact" id="contact">
            <img src="/image/Es.png" alt="" class="img_footer">
            <div class="titre-text">

                <h1 style="color:#1560BD ; text-align: center;">N'hésitez pas à nous contacter  </h1>
            </div>


            <div class="pied-d">

                <a href="https://www.google.com/maps/place/429+Rue+de+l'Industrie,+34000+Montpellier/@43.5869279,3.8814392,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6afc19c6f5781:0x4f564a8efd01f31d!8m2!3d43.5869279!4d3.8836279" > <p> 34070 MONTPELLIER
                        429 Rue de l'Industrie <i class="fas fa-location-dot"></i> </a></p>

                <a href=""> <p> 04.69.96.60.88  <i class="fas fa-mobile"></i>  </p></a>
            </div>
            </div>

            <div class="reseaux_sociaux" style="margin-right: 90% ;">

                <a href="https://www.facebook.com/TOP-PROS-Services-238391234783361/"> <i class="fab fa-facebook-f"></i></a>



            </div>
        </section>
    </section>






    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #5fc429;
            color: white;
            text-align: center;
        }
    </style>

    <div class="footer">

        <p style="text-align:right ;">© 2022
            Tous droits réservés | E2sGroupe </p>

    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

    <script>
        document.querySelector('.fa-times').style.display = "none"
        const menuBtn = document.querySelector(".btn-menu")
        const Sidebar = document.querySelector(".sidebar")
        menuBtn.onclick = function(){
            if(Sidebar.style.right == "-250px"){
                Sidebar.style.right ="0"
                document.querySelector('.fa-times').style.display =""
                document.querySelector('.fa-bars').style.display ="none"


            }else{
                Sidebar.style.right ="-250px"
                document.querySelector('.fa-times').style.display ="none"
                document.querySelector('.fa-bars').style.display =""
            }
        }


    </script>
{% endblock %}
