{% extends 'base.html.twig' %}

{% block title %}Hello TopHomeController!{% endblock %}

{% block body %}
<section class="baniere" id="baniere">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        DISPONIBLE 24H/24H ET 7J/7J
    </div>
    <div class="log" style=" position: fixed ; top: 5%;
        right: 100%;
        transform: translate(-5%, -100%)";>
        <img src="/image/TOP+HOME+Format+PNG+transparent-baf189ca-1920w.png" alt="">
    </div>



    <div class="sidebar">
        <nav>
            <ul>
                <li ><a href="/" > <i class="fas fa-house"></i> &nbsp Accueil</a></li>
                <li ><a href="/gallia"><i class="fas fa-lock"></i> &nbsp Gallia Sécurité</a></li>
                <li><a href="/top_home"><i class="fas fa-hand-spock"></i>&nbsp Top Home Services </a></li>
                <li><a href="/top_pros"><i class="fas fa-hotel"></i> &nbsp Top Pros Services </a></li>
                <li><a href="#"> <i class="fas fa-calendar"></i>  &nbsp Planning </a></li>
            </ul>
        </nav>
    </div>
    <div class="btn-menu">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </div>



    <div class="section-1 box">
        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive; text-shadow: 1px 1px 2px #5fc429 ;">TOP HOME SERVICES </h1>
    </div>

    <div class="section-2 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" >Un travail fiable, efficace et flexible</h1>

        <p>
            Nous vous proposons les meilleurs services d'aide à domicile pour vous simplifier la vie. Nous ne nous contentons pas de
            la deuxième place et votre satisfaction est notre priorité. Ceci est notre mode de fonctionnement et nous en sommes fiers !

            Nous sommes une équipe jeune, formée, dynamique et expérimentée toujours à la disposition de nos clients pour offrir les meilleures
            prestations. Elle est née d'une véritable passion et envie de simplifier le quotidien de chacun.
            C'est par son expérience en gestion d'entreprise et son implication professionnelle de plusieurs années sur le terrain que repose la réussite de ses activités et donc la satisfaction de nos clients.
        </p>

    </div>

    <div class="section-3 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">TOP HOME Services</h1>
    </div>

    <div class="section-4 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">Des prestations adaptées à vos divers besoins quotidiens</h1>

        <p>propose des services d’aide à domicile : ménage, repassage, jardinage, bricolage, soutien scolaire, préparation-repas,
            aides aux courses et assistance informatique. Implantée à Montpellier, Top Home Services souhaite se développer en faisant
            le choix de se spécialiser dans des prestations de ménage à domicile et autres et par la recherche permanente de la satisfaction
            de nos salariés. Pourquoi ? C’est très simple : pour offrir des prestations de qualité
            chez nos clients cela passe indéniablement par des aides à domicile qui aiment et apprécient de travailler pour Top Home Services.
        </p>

    </div>

    <div class="section-5 box">
        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">TOP HOME SERVICES </h1>
    </div>

    <div class="section-6 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" > 1-Maintien en bon état de vos biens immobiliers</h1>

        <p>
            TOP HOME SERVICES vous propose un  véritable programme pour vos besoins aux jours
            et aux heures de votre choix. En vous proposant  du nettoyage, rangement des placards,
            dépoussiérage des tapis et rideaux, nettoyage des vitres et repassage. Quels que soient vos besoins,
            nos intervenants sauront répondre efficacement à votre demande. </p>

    </div>



    <div class="section-7 box">
        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">TOP HOME SERVICES </h1>
    </div>

    <div class="section-8 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" > 2-Tous les services dont vous avez besoin, au même endroit</h1>
        <h2 style=" font-size: 30px;
        font-family: 'Lobster', cursive;" > Nous proposons une vaste gamme de services pour répondre à tous les besoins.</h2>

        <p>
            TOP HOME SERVICES peut mettre à votre service un assistant administratif et informatique selon vos attentes pouvant ainsi gérer à
            votre place toutes les démarches administratives telles que la création des dossiers pour réaliser des demandes spécifiques,
            la rédaction de relances et de courriers administratifs et assister aux tâches bureautiques en triant des emails ou envoyer des
            messages.

        </p>

    </div>





    <div class="section-9 box">
        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;text-align: center;">TOP HOME SERVICES </h1>
    </div>

    <div class="section-10 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" > 3-Nous proposons une vaste gamme de services pour répondre à tous les besoins</h1>

        <p>
            Nous proposons pour vos divers besoins des bricoleurs qui proposent différents univers de bricolage tels que le jardinage,
            les déménagements, le montage de meubles et autres bricolages maison. Nos intervenants sont en adéquation avec les petits.

        </p>

    </div>



    <div class="section-11 box">
        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;">TOP HOME SERVICES </h1>
    </div>

    <div class="section-12 box">

        <h1 style=" font-size: 50px;
        font-family: 'Lobster', cursive;" > 4-Garde d'enfant  </h1>

        <p>
            TOP HOME SERVICES met à votre disposition la garde d'enfants de plus de 3 ans à domicile proposant des prestations sur-mesure,
            adaptées à votre rythme et à vos besoins spécifiques comme pour aller chercher votre enfant à la sortie de l'école.
            Nos intervenants vont vous apporter une aide et vous soulageront dans votre quotidien en prenant soin des enfants jusqu'à votre retour à la maison.
        </p>

    </div>








    <section class="contact" id="contact">
        <img src="/image/Es.png" alt="" class="img_footer">
        <div class="titre-text">

            <h1 style="color:#1560BD ; text-align: center;">N'hésitez pas à nous contacter  </h1>
        </div>


        <div class="pied-d">


            <a href="https://www.google.com/maps/place/429+Rue+de+l'Industrie,+34000+Montpellier/@43.5869279,3.8814392,17z/data=!3m1!4b1!4m5!3m4!1s0x12b6afc19c6f5781:0x4f564a8efd01f31d!8m2!3d43.5869279!4d3.8836279" > <p> 34070 MONTPELLIER
                    429 Rue de l'Industrie <i class="fas fa-location-dot"></i> </a></p>
            <a href=""> <p> 04.69.96.60.88  <i class="fas fa-mobile"></i>  </p></a>
        </div>
        </div>

        <div class="reseaux_sociaux" style="margin-right: 90% ;">

            <a href="https://www.facebook.com/TOP-HOME-Services-234531321852043/"> <i class="fab fa-facebook-f"></i></a>



        </div>
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #5fc429;
                color: white;
                text-align: center;
            }
        </style>
        <div class="footer">

            <p style="text-align:right ;">© 2022
                Tous droits réservés | E2sGroupe </p>

        </div>

        <div class="footer">
            <p>E2S Groupe</p>
        </div>










        <script>
            document.querySelector('.fa-times').style.display = "none"
            const menuBtn = document.querySelector(".btn-menu")
            const Sidebar = document.querySelector(".sidebar")
            menuBtn.onclick = function(){
                if(Sidebar.style.right == "-250px"){
                    Sidebar.style.right ="0"
                    document.querySelector('.fa-times').style.display =""
                    document.querySelector('.fa-bars').style.display ="none"


                }else{
                    Sidebar.style.right ="-250px"
                    document.querySelector('.fa-times').style.display ="none"
                    document.querySelector('.fa-bars').style.display =""
                }
            }


        </script>
{% endblock %}
